In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\win10\Downloads\orders.csv')

In [5]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer.,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Consumer.,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer.,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer.,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [13]:
df.shape

(9994, 16)

In [15]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [17]:
df.dropna(inplace= True)

In [19]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [23]:
df.duplicated().sum()

0

In [25]:
df['Order Id'].nunique()

9993

In [38]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [40]:
## column names have uppercase letter and spaces.

df.columns = df.columns.str.lower() 
df.columns = df.columns.str.replace(" ","_")

In [46]:
df['ship_mode'].value_counts()

ship_mode
Standard Class    5962
Second Class      1895
First Class       1513
Same Day           543
Second              50
First               25
Not Available        4
unknown              1
Name: count, dtype: int64

In [92]:
### replacing Not available and unknown with mode of that coulumn.

df['ship_mode'] = np.where(df['ship_mode']=='Not Available',df['ship_mode'].mode()
                           ,np.where(df['ship_mode']=='unknown',df['ship_mode'].mode(),df['ship_mode']))

In [108]:
## replacing 'second' with second class and 'first' with first class.

df['ship_mode'] = np.where(df['ship_mode']=='Second','Second Class',np.where(df['ship_mode']=='First','First Class',df['ship_mode']))

In [114]:
df['segment'].value_counts()

segment
Consumer       5168
Corporate      2989
Home Office    1783
corport          29
consumar         13
Consumer.        11
Name: count, dtype: int64

In [136]:
### replacing 'consumar' & 'Consumer.' with Consumer

df['segment'] = np.where((df['segment']=='consumar') | (df['segment']=='Consumer.'),'Consumer',np.where(df['segment']=='corport','Corporate',df['segment']))

In [146]:
df['country'].value_counts()

country
United States    9941
US                 52
Name: count, dtype: int64

In [150]:
# replacing US with United States

df['country'] = np.where(df['country']=='US','United States',df['country'])

In [160]:
df['city'].unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Bristol', 'Spokane', 'Keller', 'Port Orange', 'Medford',
       'Charlottesville', 'Missoula', 'Apopka', 'Reading', 'Broomfield',
       'Paterson', 'Oklahoma City', 'Chesapeake', 'Lubbock',
       'Johnson City', 'San Bernardino', 'Leominster', 'Bozeman',
       'Perth Amboy', 'Ontario', 'Rancho Cucamonga', 'Moorhead',
       'Mesquite', 'Stockton', 'Ormond Beach', 'Sunnyvale', 'York',
       'College Station', 'Saint Louis', 'Manteca', 'San Angelo',
       'Salt Lake City', 'Knoxville', 'Little Rock', 'Lincoln Park',
       'Marion', 'Littleton', 'Bangor', 'Southaven', 'New Castle',
       'Midland', 'Sioux Falls', 'Fort Collins', 'Clarksville',
       'Sacramento', 'Thousand Oaks', 'Malden', 'Holyoke', 'Albuquerque',
       'Sparks', 'Coachella', 'Elmhurst', 'Passaic', 'North Charleston',
       'Newport News', 'Jamestown', 'Mishawaka', 'La Quinta',
       'Tallahassee', 'Nashville', 'Bellingham', 'Woodstock',
       'Haltom City', 'Wheeling', 'Summerville', 'Hot Springs',
       'Englewood', 'Las Cruces', 'Hoover', 'Frisco', 'Vacaville',
       'Waukesha', 'Bakersfield', 'Pompano Beach', 'Corpus Christi',
       'Redondo Beach', 'Orlando', 'Orange', 'Lake Charles',
       'Highland Park', 'Hempstead', 'Noblesville', 'Apple Valley',
       'Mount Pleasant', 'Sterling Heights', 'Eau Claire', 'Pharr',
       'Billings', 'Gresham', 'Chattanooga', 'Meridian', 'Bolingbrook',
       'Maple Grove', 'Woodland', 'Missouri City', 'Pearland',
       'San Mateo', 'Grand Rapids', 'Visalia', 'Overland Park',
       'Temecula', 'Yucaipa', 'Revere', 'Conroe', 'Tinley Park',
       'Dubuque', 'Dearborn Heights', 'Santa Fe', 'Hickory',
       'Carol Stream', 'Saint Cloud', 'North Miami', 'Plantation',
       'Port Saint Lucie', 'Rock Hill', 'Odessa', 'West Allis',
       'Chula Vista', 'Manhattan', 'Altoona', 'Thornton', 'Champaign',
       'Texarkana', 'Edinburg', 'Baytown', 'Greenwood', 'Woonsocket',
       'Superior', 'Bedford', 'Covington', 'Broken Arrow', 'Miramar',
       'Hollywood', 'Deer Park', 'Wichita', 'Mcallen', 'Iowa City',
       'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights', 'The Colony',
       'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo', 'Elkhart',
       'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor', 'Lawton',
       'Hampton', 'Rome', 'La Crosse', 'Lewiston', 'Hattiesburg',
       'Danville', 'Logan', 'Waterbury', 'Athens', 'Avondale', 'Marietta',
       'Yuma', 'Wausau', 'Pasco', 'Oak Park', 'Pensacola', 'League City',
       'Gaithersburg', 'Lehi', 'Tuscaloosa', 'Moreno Valley',
       'Georgetown', 'Loveland', 'Chandler', 'Helena', 'Kirkwood', 'Waco',
       'Frankfort', 'Bethlehem', 'Grand Island', 'Woodbury', 'Rogers',
       'Clovis', 'Jupiter', 'Santa Barbara', 'Cedar Hill', 'Norfolk',
       'Draper', 'Ann Arbor', 'La Mesa', 'Pocatello', 'Holland',
       'Milford', 'Buffalo Grove', 'Lake Forest', 'Redding', 'Chico',
       'Utica', 'Conway', 'Cheyenne', 'Owensboro', 'Caldwell', 'Kenner',
       'Nashua', 'Bartlett', 'Redwood City', 'Lebanon', 'Santa Maria',
       'Des Plaines', 'Longview', 'Hendersonville', 'Waterloo',
       'Cambridge', 'Palatine', 'Beverly', 'Eugene', 'Oxnard', 'Renton',
       'Glenview', 'Delray Beach', 'Commerce City', 'Texas City',
       'Wilson', 'Rio Rancho', 'Goldsboro', 'Montebello', 'El Cajon',
       'Beaumont', 'West Palm Beach', 'Abilene', 'Normal',
       'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank', 'Modesto',
       'Garden City', 'Atlantic City', 'Longmont', 'Davis', 'Morgan Hill',
       'Clifton', 'Sheboygan', 'East Point', 'Rapid City', 'Andover',
       'Kissimmee', 'Shelton', 'Danbury', 'Sanford', 'San Marcos',
       'Greeley', 'Mansfield', 'Elyria', 'Twin Falls', 'Coral Gables',
       'Romeoville', 'Marlborough', 'Laurel', 'Bryan', 'Pine Bluff',
       'Aberdeen', 'Hagerstown', 'East Orange', 'Arlington Heights',
       'Oswego', 'Coon Rapids', 'San Clemente', 'San Luis Obispo',
       'Springdale', 'Lodi', 'Mason'], dtype=object)

In [164]:
df['state'].value_counts()

state
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Colorado                 182
Tennessee                182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [170]:
df['region'].value_counts()

region
West       3197
East       2848
Central    2319
South      1619
w             6
center        4
Name: count, dtype: int64

In [172]:
# replacing W with west and ceter with central

df['region'] = np.where(df['region']=='w','West',np.where(df['region']=='center','Central',df['region']))

In [178]:
df['category'].value_counts()

category
Office Supplies    6025
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [196]:
sorted(list(df['sub_category'].unique()))

['Accessories',
 'Appliances',
 'Art',
 'Arts',
 'Binders',
 'Bookcases',
 'Chairs',
 'Copiers',
 'Envelopes',
 'Fasteners',
 'Furnishings',
 'Labels',
 'Machines',
 'Paper',
 'Papers',
 'Phones',
 'Storage',
 'Supplies',
 'Tables']

In [198]:
# Art & Arts and Paper & papers have been categorized separately.

df['sub_category'] = np.where(df['sub_category']=='Paper','Papers',np.where(df['sub_category']=='Art','Arts',df['sub_category']))

In [200]:
df['sub_category'].value_counts()

sub_category
Binders        1522
Papers         1370
Furnishings     957
Phones          889
Storage         846
Arts            796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9993 non-null   int64
 1   order_date        9993 non-null   object
 2   ship_mode         9993 non-null   object
 3   segment           9993 non-null   object
 4   country           9993 non-null   object
 5   city              9993 non-null   object
 6   state             9993 non-null   object
 7   postal_code       9993 non-null   int64
 8   region            9993 non-null   object
 9   category          9993 non-null   object
 10  sub_category      9993 non-null   object
 11  product_id        9993 non-null   object
 12  cost_price        9993 non-null   int64
 13  list_price        9993 non-null   int64
 14  quantity          9993 non-null   int64
 15  discount_percent  9993 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.3+ MB

In [214]:
df['order_date'] = pd.to_datetime(df['order_date'],format='%d-%m-%Y')

In [218]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Consumer,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [220]:
df['discount'] = df['list_price']*df['discount_percent']/100

In [224]:
df['sales_price'] = df['list_price']-df['discount']

In [228]:
df['profit'] = df['sales_price']-df['cost_price']

In [234]:
df.drop(['list_price','cost_price','discount_percent'],axis = 1,inplace = True)

In [236]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Consumer,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Papers,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [238]:
import sqlalchemy as sal
## !pip install PyMySQL

In [264]:
user     = 'root'
password = 'naunidh'
host     = 'localhost'
port     = '3306'
database = 'com' 

engine = sal.create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [274]:
df.to_sql('orders',con = engine, index=False,if_exists = 'replace')

9993

In [272]:
df['product_id'].nunique()

1862